body{
    margin: 0;
    overflow: hidden
}

#chat{
    position: relative;
    font-family: "Courier New";
    display: block;
    background-color: darkgray;
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
    height: 95vh;
    overflow: auto;
}

input#timestamps, input#night{ display: none }
label {
  display: inline-block;
  text-align: center;
  border:1px #d8d8d8 solid;
  padding: .5em 2em;
  cursor: pointer;
  background: #f2f2f2;
}
#fortimestamps:after { content: "Off"}
#timestamps:checked ~ #fortimestamps:after { content: "On"}

#fornight:after { content: "Off"}
#night:checked ~ #fornight:after { content: "On"}


/*COLORS*/

/*Dark Red*/
.Dark_Red{
    color: rgb(170,0,0);
}
/*Red*/
.Red{
    color: rgb(255,85,85);
}
/*Gold*/
.Gold{
    color: rgb(255,170,0);
}
/*Yellow*/
.Yellow{
    color: rgb(255,255,85);
}
/*Dark Green*/
.Dark_Green{
    color: rgb(0,170,0);
}
/*Green*/
.Green{
    color: rgb(85,255,85);
}
/*Aqua*/
.Aqua{
    color: rgb(85,255,255);
}
/*Dark Aqua*/
.Dark_Aqua{
    color: rgb(0,170,170);
}
/*Blue*/
.Blue{
    color: rgb(85,85,255);
}
/*Dark Blue*/
.Dark_Blue{
    color: rgb(0,0,170);
}
/*Light Purple*/
.Light_Purple{
    color: rgb(255,85,255);
}
/*Dark Purple*/
.Dark_Purple{
    color: rgb(170,0,170);
}
/*White*/
.White{
    color: rgb(255,255,255);
}
/*Gray*/
.Gray{
    color: rgb(170,170,170);
}
/*Dark Gray*/
.Dark_Gray{
    color: rgb(85,85,85);
}
/*Black*/
.Black{
    color: rgb(0,0,0);
}
/*BOLD*/
.Bold{
    font-weight: bold;
}
/*italics*/
.Italics{
    font-style: italic;
}
/*Underlined*/
.Underline{
    text-decoration: underline;
}
/*Stroked*/
.Strike{
    text-decoration: line-through;
}
