body{
    margin: 0;
    overflow: auto;
}

#thin{
    width: 100vw;
    border-color: rgb(170,170,170);
    border-width: 1px;
    border-style: none none solid none;
}

#chat{
    position: relative;
    font-family: "Courier New";
    display: block;
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
    height: 80vh;
    overflow: auto;
    z-index: 1;
}

#settings, #online{
    background-color: transparent;
    color: rgb(85,85,85);
    border: none;
    padding: 7px;
}
#settings:hover, #online:hover{
    color: rgb(170,170,170);
}

#send{
    background-color: rgb(85,85,85);
    color: rgb(170,170,170);
    border: none;
    padding: 7px;
}
#send:hover{
    background-color: rgb(170,170,170);
    color: rgb(85,85,85);
}

#left{
    float: left;
    padding-left: 5%;
}

#right{
    float: right;
    padding-right: 5%;
}

#message{
    resize: none;
    width: 90vw;
    height: 100%;
    padding: 5px 5px;
}

#top{
    width: 100%;
    height: 5vh;
    margin-bottom: 10px;
    text-align: center;
}

/*Inputs*/
input, select{
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(170,170,170);
    padding: 1px;
}

/*HR*/
hr{
    margin: 2px;
    width: 80%;
    border-color: rgb(170,170,170);
    border-radius: 100px;
    border-style: solid;
}

/*Status*/
status::after{
    display: inline-block;
    color: rgb(85,85,85);
    content: "Server Not Checked";
}
status.check::after{
    color: rgb(85,85,85);
    content: "Checking...";
}
status.no::after{
    color: rgb(170,85,85);
    content: "Server Not Online, Check Your Server Adress";
}
status.bad::after{
    color: rgb(170,0,0);
    content: "Server Connection Horrible, Throw Out Your Router";
}
status.slow::after{
    color: rgb(255,170,0);
    content: "Server Connection Poor";
}
status.good::after{
    color: rgb(0,170,0);
    content: "Server Connection Good";
}

/*NAME*/
#valid::after{
    display: inline-block;
    color: rgb(85,85,85);
    content: "Name Not Checked";
}
#valid.good::after{
    color: rgb(0,170,0);
    content: "Name Is Not Taken";
}
#valid.bad::after{
    color: rgb(170,0,0);
    content: "Name Taken, Choose Another";
}

#checkStatus{
    display: inline-block;
    text-align: center;
    border:1px #d8d8d8 solid;
    padding: .5em 2em;
    cursor: pointer;
    background: #f2f2f2;
}

/*Chat*/
.sent{
    font-family: sans-serif;
}

.name:before{
    content: "@";
}
.name:hover{
    text-decoration: underline;
}

.message{}

.person{
    color: dodgerblue;
}
.person:before{
    content: "@";
}
.person:hover{
    text-decoration: underline;
}

/*Labels*/
label {
    display: inline-block;
    text-align: center;
    border:1px #d8d8d8 solid;
    padding: .5em 2em;
    cursor: pointer;
    background: #f2f2f2;
}

/*Toggles*/
input#timestamps, input#night{ display: none }

#fortimestamps:after { content: "Off"}
#timestamps:checked ~ #fortimestamps:after { content: "On"}


/*COLORS*/

/*Dark Red*/
.Dark_Red{
    color: rgb(170,0,0);
}
/*Red*/
.Red{
    color: rgb(255,85,85);
}
/*Gold*/
.Gold{
    color: rgb(255,170,0);
}
/*Yellow*/
.Yellow{
    color: rgb(255,255,85);
}
/*Dark Green*/
.Dark_Green{
    color: rgb(0,170,0);
}
/*Green*/
.Green{
    color: rgb(85,255,85);
}
/*Aqua*/
.Aqua{
    color: rgb(85,255,255);
}
/*Dark Aqua*/
.Dark_Aqua{
    color: rgb(0,170,170);
}
/*Blue*/
.Blue{
    color: rgb(85,85,255);
}
/*Dark Blue*/
.Dark_Blue{
    color: rgb(0,0,170);
}
/*Light Purple*/
.Light_Purple{
    color: rgb(255,85,255);
}
/*Dark Purple*/
.Dark_Purple{
    color: rgb(170,0,170);
}
/*White*/
.White{
    color: rgb(255,255,255);
}
/*Gray*/
.Gray{
    color: rgb(170,170,170);
}
/*Dark Gray*/
.Dark_Gray{
    color: rgb(85,85,85);
}
/*Black*/
.Black{
    color: rgb(0,0,0);
}
/*BOLD*/
.Bold{
    font-weight: bold;
}
/*italics*/
.Italics{
    font-style: italic;
}
/*Underlined*/
.Underline{
    text-decoration: underline;
}
/*Stroked*/
.Strike{
    text-decoration: line-through;
}
